/* you can add your own styles in this file */

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  margin: 0;
}

button {
  font-family: var(--sans-serif);
}

.startVisit {
  border: 2px solid var(--brand-orange);
  border-radius: 2rem;
  ;
  width: 13rem;
  height: 4.5rem;
}

.prevVisits {
  width: 13rem;
  height: 4.5rem;
  border: 2px solid var(--brand-pink);
  border-radius: 2rem;
}

.brand {
  color: var(--brand-orange);
}

.brand-pink {
  color: var(--brand-pink);
}

.logo {
  width: 13.13rem;
}

.f3 {
  font-size: 1.7rem;
}

.main {
  min-height: 667px;
  min-width: 375px;
  max-height: 736px;
  max-width: 414px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .main {
    width: 100%;
    overflow: hidden;
  }
}
