/* you can add your own styles in this file */

body {
  /* the var(--my-variable) syntax is a css variable
     https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
     they aren't properly supported by all browsers yet so postcss turns them into normal css for you
  */
  font-family: var(--sans-serif);
  margin: 0;
}

button {
  font-family: var(--sans-serif);
}

.nav-link {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-link {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .nav-menu {
    display: none;
  }
}

.startVisit {
  border: 2px solid var(--brand-orange);
  border-radius: 2rem;;
  width: 13rem;
  height: 4.5rem;
}

.prevVisits {
  width: 13rem;
  height: 4.5rem;
  border: 2px solid var(--brand-pink);
  border-radius: 2rem;
}

.brand {
  color: var(--brand-orange);
}

.brand-pink {
  color: var(--brand-pink);
}

.logo {
  width: 13.13rem;
}

.f3 {
  font-size: 1.4rem;
}

.main {
  min-height: 667px;
  min-width: 375px;
  max-height: 736px;
  max-width: 414px;
}
